 @media (min-width: 992px){
    .tabl{
        font-size: 130%;
    }

    .tab_1, .tab_2{
        font-size: 120%;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .tabl{
        font-size: 120%;
    }

    .tab_1, .tab_2{
        font-size: 110%;
    }
}

@media (max-width: 768px){
    .tabl{
        font-size: 110%;
    }
}
table{
    width: 100%;
}
.tabl{
    text-align: center;
    background-color: rgb(91, 201, 91);
    color: rgb(9, 67, 17);
}
.tab_1{
            background-color: rgb(33, 208, 42);
            color: rgb(55, 49, 2);
        }
        .tab_2{
            background-color: rgb(101, 255, 134);
            color: rgb(5, 70, 31);
        }
        table, th, tr, td{
            border: 1px solid rgb(12, 82, 17);
        }
        h1, caption{
            text-align: center;
        }
        h1{
            text-align: center;
            font-size: 22px;
        }
        .hol{
            font-style: italic;
        }
        h2{
            text-align: center;
        }
        td,th{
            font-weight: bold;}
            .gg{
                text-align: right;
            }
